/* imports */
@use 'tailwindcss';

/* set das fontes */
@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* personalização dos estilos tailwind css */
@theme {
	--font-display: 'Poppins', 'sans-serif';
	--font-sans: 'Inter', 'sans-serif';

	--color-destaque: #c2410c;

	/* Padrão Light */
	--color-light-fundo: #faf9f6;
	--color-light-n1: #918d8a;
	--color-light-n2: #6f6b68;
	--color-light-n3: #4d4a48; /* Texto Secundário */
	--color-light-n4: #2d2a28; /* Texto Principal */

	/* Padrão Dark */
	--color-dark-fundo: #1a1716;
	--color-dark-n1: #faf9f6; /* Texto Principal */
	--color-dark-n2: #c7c4bf;
	--color-dark-n3: #918d8a; /* Texto Secundário */
	--color-dark-n4: #4d4a48;
}

/* preset html base */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--color-light-fundo);
	color: var(--color-light-n3);
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}
