/* imports */
@use 'tailwindcss';

/* set das fontes */
@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* personalização dos estilos tailwind css */
@theme {
	--font-display: 'Poppins', 'sans-serif';
	--font-sans: 'Inter', 'sans-serif';

	--color-destaque: #c2410c;
	--color-n1: #faf9f6;
	--color-n2: #c7c4bf;
	--color-n3: #918d8a;
	--color-n4: #4d4a48;
	--color-fundo: #1a1716;
}

/* preset html base */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #faf9f6;
	color: #4d4a48;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}
